@import "config.scss";

$mobile-width: 100%;

@media (max-width: 549px) {
  .inputWrapper {
    width: $mobile-width;

    .inputText {
      width: $mobile-width;
    }

    input {
      width: $mobile-width;
    }
  }

  .submitWrapper {
    width: $mobile-width;

    button {
      width: $mobile-width;
      font-size: $core-font-size-large;
    }
  }

  .titleWrapper {
    &:not(:first-child) {
      margin-top: $core-spacing-medium;
    }

    .item {
      h4,
      h5 {
        border-bottom: $core-border-light;
        text-align: center;
      }

      h5 {
        font-weight: 600;
      }
    }
  }
}

@media (min-width: 550px) {

}