@import "../config";

.container {
  margin: 60px auto 0 auto;
  min-width: $core-min-width;
}

@media (min-width: 550px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 549px) {
  .container {
    width: auto;
    padding: 12px;
  }
}